#retunering {
    position: absolute;
    top: 50%;
}

#stempel {
    position: absolute;
    top:90%;
    left: 71%;
}

#sjekkutnyheter{
    position: absolute;
    top:19%;
    left:15%;
}

#skygge{
    position: absolute;
    top:64%;
    left:35%;

}

#pil{
    position: absolute;
    top:15%;
    left:7.5%;
}

#gladmann{
    position: absolute;
    top: 15%;
    left:30%;
}
