#textbox{
    background-color:rgba(81, 189, 84, 0.842);
    width:350px;
    height:500px;
    color: Black;
    position: absolute;
    left:70%;
    top:15%;
    box-shadow: 10px 10px 3px gray;
}

#textbox h1{
    padding:0px 19px;
}

#textbox h3{
    padding:10px
}







:root {
    --slideshow-bg:black;
}
#slideshow {
    background: url("../bilder/mariusbw.jpg");
    position: absolute;
    left: 1%;
    top: 12%;border: 2px solid gray;
    width: 46%;
    height: 80%;
    background-color: var(--slideshow-bg);
    background-size: 300px 550px;
    background-repeat: no-repeat;
    border-radius: 2em; 
    animation: slideshow 55s ease-in infinite;
    animation-timing-function: cubic-bezier(0.1, 1, 0.1, 1);
}

 @keyframes slideshow{
    20% { background-image: url("../bilder/mariusbw.jpg")}
    40% { background-image: url("../bilder/rolfbw.jpg")}
    60% { background-image: url("../bilder/edenbw.jpg")}
    80% { background-image: url("../bilder/oscarbw.jpg")}
    100% { background-image: url("../bilder/torbjornbw.jpg")}
}



:root {
    --slideshow-bg:black;
}
#info{
    background: url("../bilder/Marius-1.jpg");
    position: absolute;
    right: 0%;
    width: 50%;
    height: 100%;
    background-color: var(--slideshow-bg);
    background-size: 300px 550px;
    background-repeat: no-repeat;
    border-radius: 0em 2em 2em 0em; 
    animation: info 55s ease-in infinite;
    animation-timing-function: cubic-bezier(0.1, 1, 0.1, 1)
   
}



@keyframes info{
    20% { background-image: url("../bilder/Marius-1.jpg")}
    40% { background-image: url("../bilder/Rolf-1.jpg")}
    60% { background-image: url("../bilder/Eden-1.jpg")}
    80% { background-image: url("../bilder/Oscar-1.jpg")}
    100% { background-image: url("../bilder/Torbjørn-1.jpg")}
}





