#snoopy {
    Position: absolute;
    left:0;
    top:0;
    width: 170px;
    height: 190px;
    background: url("snoopy.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: gaaTur 6s linear infinite reverse;
    
}

@keyframes gaaTur {
    0%{top:70%; left:21%; transform: rotate(0deg);}
    23%{top:70%; left:85%; transform: rotate(0deg);}
    24%{top:70%; left:85%; transform: rotate(-90deg);}
    48%{top:15%; left:85%; transform: rotate(-90deg);}
    49%{top:15%; left:85%; transform: rotate(-90deg);}
    50%{top:15%; left:85%; transform: rotate(-180deg);}
    75%{top:15%; left:21%; transform: rotate(-180deg);}
    76%{top:15%; left:21%; transform: rotate(-270deg);}
    99%{top:70%; left:21%; transform: rotate(-270deg);}
    100%{top:70%; left:21%; transform: rotate(-360deg);}
}