button {
    position: relative;
    top:0;
    left:0;
    color: green;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 3px 2px rgba(30,100,90,0.7);
    outline:none;
}
button:hover {
    background-color: blue;
    color: white;
    animation: StikkAv 100ms;
    animation-fill-mode: forwards;
}

button:active {
    transform: translate(3px,2px);
    box-shadow:none;
}

@keyframes StikkAv {
    0% { top: 0; left:0;}
    100% { top:500px; left: 500px;}
}

#innhold div {
    background: red;
    width: 10em;
    height: 10em;
    position: absolute;
    left: 100px;
    bottom: 100px;
    transition: 1s;
}

#innhold div:hover {
    transform: translate(100px,100px);
    background: blue;
    width: 5em;
    height: 5em;
}

Binærtall

Alle datamaskiner og alle andre elektroniske instrumenter bruker teknologi
som hviler på totallsystemet, også kalt det binære tallsystemet. Binærtall 
er språket elektronikken kommuniserer med.

Et binærtall konverteres til desimaltall på denne måten:
Eks: 10010111

128	64	32	16	8	4	2	1
1	0	0	1	0	1	1	1
Summer tallene der binærtallet har siffer 1: 128+16+4+2+1




Heksadesimale tall

Sekstentallsystemet, bedre kjent som det heksadesimale tallsystemet, forkortet hex, er et tallsystem med grunntall eller base 16. Tallsystemet har 16 ulike siffer: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E og F. Det tallsystemet vi bruker til vanlig, kalles titallsystemet eller det desimale system. De heksadesimale sifrene A, B, C, D, E og F representerer titallsystemets verdier 10, 11, 12, 13, 14 og 15.
Binærtall kan koverteres til heksadeismale tall slik:

Grupper binærtallet i grupper på 4 bits
Skriv over tallfølgen: 1, 2, 4, 8 slik som med desimaltall
For hver gruppe får vi da et heksaadesimalt siffer
0-9 er uendra, 10=A, 11=B, 12=C ... 15=F
Eks: 1101

8	4	2	1
1	1	0	1
Vi summmerer da 8+4+1=13, 13 = D




